[Unit]
Description=aria2c: seeding %i
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/aria2c --bt-enable-lpd -u 20K --force-save=true --log=- --log-level=notice --seed-ratio=0.0 --torrent-file={{ data_volume }}/%i
User=aria2c
LogNamespace=aria2c
Restart=always
RestartSec=30
Nice=19
WorkingDirectory={{ data_volume }}
ProtectSystem=full
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
