---
- name: Set up tmpfs for logs to prevent thrashing SD card
  mount:
    path: /var/log
    fstype: tmpfs
    src: tmpfs
    state: mounted
    opts: rw,size=20M,nr_inodes=5k,noexec,nodev,nosuid,uid=1,gid=1,mode=1755

# This is a compromise on SD card lifespan.
- name: Install unattended-upgrades
  apt:
    name: unattended-upgrades
    state: latest

