[Unit]
Description=kiwix-serve
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/kiwix-serve --port=80 --library {{ data_volume }}/library.xml
User=kiwix

[Install]
WantedBy=multi-user.target
